# Generated by pnpm openapi:export — do not edit by hand.
openapi: 3.1.0
info:
  title: Postbag API
  version: 0.1.0
  description: A form backend that routes. Websites POST submissions to
    /s/{formId} (public, unauthenticated); everything under /v1 manages forms,
    streams, destinations, routes and deliveries and requires a bearer API key.
    Start at GET /v1/me, then see /llms.txt for the full agent onboarding guide.
servers:
  - url: https://postbag.dev
  - url: https://api.postbag.dev
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: pb_live_… API key
      description: "An API key minted via POST /v1/api-keys (or the dashboard), sent
        as `Authorization: Bearer pb_live_…`. Scopes are manage ⊇ read ⊇ submit
        — a manage key satisfies every read- or submit-scoped call too."
    sandboxAuth:
      type: http
      scheme: Sandbox
      description: "The capability returned by POST /v1/public/sandboxes, sent as
        `Authorization: Sandbox <sandbox_token>`. It can read one bounded
        sandbox but cannot claim it without a separately authenticated
        organization."
  schemas:
    ErrorEnvelope:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            hint:
              type: string
            docs:
              type: string
            details:
              type: object
              additionalProperties: {}
          required:
            - code
            - message
      required:
        - error
    PublicInvitation:
      type: object
      properties:
        organization:
          type: object
          properties:
            name:
              type: string
          required:
            - name
        invited_by_name:
          type:
            - string
            - "null"
        role:
          type: string
          enum:
            - owner
            - admin
            - member
        expires_at:
          type: string
          example: 2026-08-21T09:00:00.000Z
        email_hint:
          type: string
          description: The invited email, masked, e.g. 'j***@example.com'.
      required:
        - organization
        - invited_by_name
        - role
        - expires_at
        - email_hint
    OrganizationSummary:
      type: object
      properties:
        id:
          type: string
          example: fm_8f3kq2
        slug:
          type: string
        name:
          type: string
        role:
          type:
            - string
            - "null"
          enum:
            - owner
            - admin
            - member
            - null
          description: The caller's role in this organization. Null when the caller is an
            API key — keys are org-scoped, not user-scoped, so they have no
            membership role of their own.
        is_active:
          type: boolean
      required:
        - id
        - slug
        - name
        - role
        - is_active
    ActiveOrganization:
      type: object
      properties:
        organization:
          type: object
          properties:
            id:
              type: string
              example: fm_8f3kq2
            slug:
              type: string
            name:
              type: string
          required:
            - id
            - slug
            - name
      required:
        - organization
    Member:
      type: object
      properties:
        id:
          type: string
          example: fm_8f3kq2
        user:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            email:
              type: string
          required:
            - id
            - name
            - email
        role:
          type: string
          enum:
            - owner
            - admin
            - member
        joined_at:
          type: string
          example: 2026-08-21T09:00:00.000Z
      required:
        - id
        - user
        - role
        - joined_at
    Invitation:
      type: object
      properties:
        id:
          type: string
          example: fm_8f3kq2
        email:
          type: string
        role:
          type: string
          enum:
            - owner
            - admin
            - member
        expires_at:
          type: string
          example: 2026-08-21T09:00:00.000Z
        invited_by:
          type:
            - object
            - "null"
          properties:
            id:
              type: string
            name:
              type: string
            email:
              type: string
          required:
            - id
            - name
            - email
          description: Null when the invitation was created by an API key rather than a
            signed-in session.
        created_at:
          type: string
          example: 2026-08-21T09:00:00.000Z
      required:
        - id
        - email
        - role
        - expires_at
        - invited_by
        - created_at
    AcceptInvitationResult:
      type: object
      properties:
        organization:
          type: object
          properties:
            id:
              type: string
              example: fm_8f3kq2
            slug:
              type: string
            name:
              type: string
          required:
            - id
            - slug
            - name
        role:
          type: string
          enum:
            - owner
            - admin
            - member
        next:
          type: array
          items:
            type: object
            properties:
              why:
                type: string
              method:
                type: string
              path:
                type: string
              body:
                type: object
                additionalProperties: {}
      required:
        - organization
        - role
        - next
    PlanRedeemResult:
      allOf:
        - $ref: "#/components/schemas/OrganizationPlan"
        - type: object
          properties:
            next:
              type: array
              items:
                type: object
                properties:
                  why:
                    type: string
                  method:
                    type: string
                  path:
                    type: string
                  body:
                    type: object
                    additionalProperties: {}
          required:
            - next
    OrganizationPlan:
      type: object
      properties:
        plan:
          type: string
          enum:
            - free
            - pro
            - team
            - selfhost
        plan_source:
          type: string
          enum:
            - free
            - billing
            - complimentary
            - selfhost
        plan_expires_at:
          type:
            - string
            - "null"
          example: 2026-08-21T09:00:00.000Z
        plan_note:
          type:
            - string
            - "null"
      required:
        - plan
        - plan_source
        - plan_expires_at
        - plan_note
    PlanGrantCreated:
      allOf:
        - $ref: "#/components/schemas/PlanGrant"
        - type: object
          properties:
            code:
              type: string
              description: Shown once — store it immediately. Only its hash is kept.
          required:
            - code
    PlanGrant:
      type: object
      properties:
        id:
          type: string
          example: fm_8f3kq2
        plan:
          type: string
          enum:
            - free
            - pro
            - team
            - selfhost
        note:
          type:
            - string
            - "null"
        expires_at:
          type:
            - string
            - "null"
          example: 2026-08-21T09:00:00.000Z
        plan_duration_days:
          type:
            - integer
            - "null"
        max_redemptions:
          type: integer
        redeemed_count:
          type: integer
        created_by_user_id:
          type: string
        created_at:
          type: string
          example: 2026-08-21T09:00:00.000Z
        revoked_at:
          type:
            - string
            - "null"
          example: 2026-08-21T09:00:00.000Z
      required:
        - id
        - plan
        - note
        - expires_at
        - plan_duration_days
        - max_redemptions
        - redeemed_count
        - created_by_user_id
        - created_at
        - revoked_at
    Form:
      type: object
      properties:
        id:
          type: string
          example: fm_8f3kq2
        project_id:
          type: string
          example: fm_8f3kq2
        slug:
          type: string
        name:
          type: string
        tags:
          type: array
          items:
            type: string
        status:
          type: string
          enum:
            - active
            - paused
        schema_mode:
          type: string
          enum:
            - observe
            - enforce
            - managed
        current_schema_version:
          type:
            - integer
            - "null"
        settings:
          type: object
          additionalProperties: {}
        submit_url:
          type: string
        streams:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                example: fm_8f3kq2
              slug:
                type: string
              mapping_status:
                type: string
                enum:
                  - valid
                  - incomplete
            required:
              - id
              - slug
              - mapping_status
        counts:
          type: object
          properties:
            submissions:
              type: integer
            last_submission_at:
              type:
                - string
                - "null"
              example: 2026-08-21T09:00:00.000Z
          required:
            - submissions
            - last_submission_at
        created_at:
          type: string
          example: 2026-08-21T09:00:00.000Z
      required:
        - id
        - project_id
        - slug
        - name
        - tags
        - status
        - schema_mode
        - current_schema_version
        - settings
        - submit_url
        - streams
        - counts
        - created_at
    Destination:
      type: object
      properties:
        id:
          type: string
          example: fm_8f3kq2
        type:
          type: string
          enum:
            - email
            - telegram
            - webhook
            - slack
            - discord
        name:
          type: string
        config:
          type: object
          additionalProperties: {}
        health:
          type: string
          enum:
            - unknown
            - ok
            - failing
        verified:
          type: boolean
        created_at:
          type: string
          example: 2026-08-21T09:00:00.000Z
      required:
        - id
        - type
        - name
        - config
        - health
        - verified
        - created_at
    Route:
      type: object
      properties:
        id:
          type: string
          example: fm_8f3kq2
        form_id:
          type:
            - string
            - "null"
        stream_id:
          type:
            - string
            - "null"
        destination_id:
          type: string
          example: fm_8f3kq2
        enabled:
          type: boolean
        mode:
          type: object
          additionalProperties: {}
        window:
          type: object
          additionalProperties: {}
        quality:
          type: object
          additionalProperties: {}
        filter:
          type:
            - string
            - "null"
        transform:
          type:
            - string
            - "null"
        counts:
          type: object
          additionalProperties: {}
        created_at:
          type: string
          example: 2026-08-21T09:00:00.000Z
      required:
        - id
        - form_id
        - stream_id
        - destination_id
        - enabled
        - mode
    Embed:
      type: object
      properties:
        html:
          type: string
        fetch:
          type: string
        react:
          type: string
        astro:
          type: string
        nextjs_action:
          type: string
      required:
        - html
        - fetch
        - react
        - astro
        - nextjs_action
    Verify:
      type: object
      properties:
        curl:
          type: string
        then:
          type: string
      required:
        - curl
        - then
    Project:
      type: object
      properties:
        id:
          type: string
          example: fm_8f3kq2
        slug:
          type: string
        name:
          type: string
        tags:
          type: array
          items:
            type: string
        created_at:
          type: string
          example: 2026-08-21T09:00:00.000Z
      required:
        - id
        - slug
        - name
        - tags
        - created_at
    FormCreated:
      allOf:
        - $ref: "#/components/schemas/Form"
        - type: object
          properties:
            embed:
              $ref: "#/components/schemas/Embed"
            verify:
              $ref: "#/components/schemas/Verify"
            next:
              type: array
              items:
                type: object
                properties:
                  why:
                    type: string
                  method:
                    type: string
                  path:
                    type: string
                  body:
                    type: object
                    additionalProperties: {}
    SchemaVersion:
      type: object
      properties:
        json_schema:
          type: object
          additionalProperties: {}
        ui:
          type: object
          additionalProperties: {}
        changelog:
          type: string
        version:
          type: integer
        inferred:
          type: boolean
        created_at:
          type: string
          example: 2026-08-21T09:00:00.000Z
        created_by:
          type: string
      required:
        - json_schema
    Submission:
      type: object
      properties:
        id:
          type: string
          example: fm_8f3kq2
        form_id:
          type: string
          example: fm_8f3kq2
        status:
          type: string
          enum:
            - received
            - quarantined
            - spam
        quarantine_reason:
          type:
            - string
            - "null"
          description: "Machine-readable reason when status is quarantined:
            schema_violation, rate_limited, origin_rejected, turnstile_failed,
            or over_quota. Null for received or spam submissions."
        test:
          type: boolean
        data:
          type: object
          additionalProperties: {}
        form_schema_version:
          type:
            - integer
            - "null"
        spam:
          type: object
          properties:
            score:
              type: number
            reasons:
              type: array
              items:
                type: string
          required:
            - score
            - reasons
        meta:
          type: object
          additionalProperties: {}
        received_at:
          type: string
          example: 2026-08-21T09:00:00.000Z
      required:
        - id
        - form_id
        - status
        - quarantine_reason
        - test
        - data
        - form_schema_version
        - spam
        - meta
        - received_at
    SubmissionDetail:
      allOf:
        - $ref: "#/components/schemas/Submission"
        - type: object
          properties:
            deliveries:
              type: array
              items:
                $ref: "#/components/schemas/Delivery"
            drift:
              type: array
              items:
                type: object
                additionalProperties: {}
    Delivery:
      type: object
      properties:
        id:
          type: string
          example: fm_8f3kq2
        submission_id:
          type: string
          example: fm_8f3kq2
        route_id:
          type: string
          example: fm_8f3kq2
        destination_id:
          type: string
          example: fm_8f3kq2
        status:
          type: string
          enum:
            - pending
            - sending
            - sent
            - failed
            - dead
            - skipped
        skip_reason:
          type:
            - string
            - "null"
        attempts:
          type: integer
        next_attempt_at:
          type:
            - string
            - "null"
          example: 2026-08-21T09:00:00.000Z
        schema_version:
          type:
            - integer
            - "null"
        payload:
          type: object
          additionalProperties: {}
        last_response:
          $ref: "#/components/schemas/DeliveryResult"
        last_error:
          type:
            - string
            - "null"
        created_at:
          type: string
          example: 2026-08-21T09:00:00.000Z
        sent_at:
          type:
            - string
            - "null"
          example: 2026-08-21T09:00:00.000Z
      required:
        - id
        - submission_id
        - route_id
        - destination_id
        - status
        - skip_reason
        - attempts
        - next_attempt_at
        - schema_version
        - payload
        - last_error
        - created_at
        - sent_at
    DeliveryResult:
      type: object
      properties:
        ok:
          type: boolean
        status_code:
          type:
            - integer
            - "null"
        latency_ms:
          type: number
        response_excerpt:
          type: string
        error:
          type:
            - string
            - "null"
    Stream:
      type: object
      properties:
        id:
          type: string
          example: fm_8f3kq2
        slug:
          type: string
        name:
          type: string
        current_schema_version:
          type:
            - integer
            - "null"
        counts:
          type: object
          properties:
            sources:
              type: integer
            routes:
              type: integer
            submissions_30d:
              type: integer
          required:
            - sources
            - routes
            - submissions_30d
        created_at:
          type: string
          example: 2026-08-21T09:00:00.000Z
      required:
        - id
        - slug
        - name
        - current_schema_version
        - counts
        - created_at
    StreamDetail:
      allOf:
        - $ref: "#/components/schemas/Stream"
        - type: object
          properties:
            schema:
              $ref: "#/components/schemas/SchemaVersion"
            sources:
              type: array
              items:
                $ref: "#/components/schemas/StreamSource"
            routes:
              type: array
              items:
                $ref: "#/components/schemas/Route"
            form_template:
              $ref: "#/components/schemas/SchemaVersion"
    StreamSource:
      type: object
      properties:
        id:
          type: string
          example: fm_8f3kq2
        form_id:
          type: string
          example: fm_8f3kq2
        selector:
          type: string
        mapping:
          type: object
          additionalProperties: {}
        mapping_status:
          type: string
          enum:
            - valid
            - incomplete
        missing:
          type: array
          items:
            type: string
        stream_schema_version:
          type: integer
      required:
        - id
    Event:
      type: object
      properties:
        id:
          type: string
          example: fm_8f3kq2
        type:
          type: string
        subject:
          type: object
          additionalProperties: {}
        data:
          type: object
          additionalProperties: {}
        created_at:
          type: string
          example: 2026-08-21T09:00:00.000Z
      required:
        - id
        - type
        - subject
        - data
        - created_at
    SystemWebhook:
      type: object
      properties:
        id:
          type: string
          example: fm_8f3kq2
        url:
          type: string
        events:
          type: array
          items:
            type: string
        enabled:
          type: boolean
        health:
          type: string
          enum:
            - unknown
            - ok
            - failing
      required:
        - id
        - url
        - events
    SystemWebhookDelivery:
      type: object
      properties:
        id:
          type: string
          example: fm_8f3kq2
        webhook_id:
          type: string
          example: fm_8f3kq2
        event_id:
          type: string
          example: fm_8f3kq2
        event_type:
          type: string
        status:
          type: string
          enum:
            - pending
            - sending
            - sent
            - failed
            - dead
        attempts:
          type: integer
        next_attempt_at:
          type:
            - string
            - "null"
          example: 2026-08-21T09:00:00.000Z
        payload:
          type: object
          additionalProperties: {}
        last_response:
          $ref: "#/components/schemas/DeliveryResult"
        last_error:
          type:
            - string
            - "null"
        created_at:
          type: string
          example: 2026-08-21T09:00:00.000Z
        sent_at:
          type:
            - string
            - "null"
          example: 2026-08-21T09:00:00.000Z
      required:
        - id
        - webhook_id
        - event_id
        - event_type
        - status
        - attempts
        - next_attempt_at
        - payload
        - last_error
        - created_at
        - sent_at
  parameters: {}
paths:
  /v1/auth/providers:
    get:
      operationId: auth_providers
      tags:
        - discovery
      summary: Which sign-in methods this instance has configured
      description: "Public, unauthenticated. Email/password reports sign-in and
        sign-up separately because hosted Postbag keeps password sign-in for
        existing users while disabling new password registration. `social` lists
        only the OAuth providers this instance has both a client id and secret
        for (self-host parity: a self-hosted instance with neither configured
        returns an empty list). The dashboard calls this once, cached, to decide
        which social sign-in buttons to render."
      security: []
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  email_password:
                    type: object
                    properties:
                      sign_in:
                        type: boolean
                      sign_up:
                        type: boolean
                    required:
                      - sign_in
                      - sign_up
                  email_code:
                    type: object
                    properties:
                      sign_in:
                        type: boolean
                      sign_up:
                        type: boolean
                    required:
                      - sign_in
                      - sign_up
                  social:
                    type: array
                    items:
                      type: string
                      enum:
                        - google
                        - github
                  sign_in_url:
                    type: string
                required:
                  - email_password
                  - email_code
                  - social
                  - sign_in_url
  /v1/billing/webhook:
    post:
      operationId: billing_webhook
      tags:
        - billing
      summary: Receive a signed Polar webhook
      security: []
      parameters:
        - schema:
            type: string
          required: true
          name: webhook-id
          in: header
        - schema:
            type: string
          required: true
          name: webhook-timestamp
          in: header
        - schema:
            type: string
          required: true
          name: webhook-signature
          in: header
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        "202":
          description: accepted
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /v1/auth/request-code:
    post:
      operationId: auth_request_code
      tags:
        - discovery
      summary: Email a 6-digit sign-in code (step 1 of agent onboarding without a
        browser)
      description: Public, unauthenticated. Sends a 6-digit code good for 10 minutes
        to the given address. Always 200 for a well-formed email, whether or not
        an account exists — this endpoint never confirms or denies an account's
        existence. Rate limited per email and per client IP. The human reads the
        code out of their inbox and gives it to the agent, which calls POST
        /v1/auth/verify-code next.
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: Lowercased and trimmed before use. Always 200s for a well-formed
                    address.
              required:
                - email
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    enum:
                      - true
                  expires_in:
                    type: integer
                  next:
                    type: string
                required:
                  - ok
                  - expires_in
                  - next
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "501":
          description: Email sending is not configured on this server
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "502":
          description: The code email could not be sent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /v1/auth/verify-code:
    post:
      operationId: auth_verify_code
      tags:
        - discovery
      summary: Verify a code and mint an API key (step 2 of agent onboarding without a
        browser)
      description: Public, unauthenticated. Verifies the code sent by POST
        /v1/auth/request-code and, on success, mints an API key through the same
        path POST /v1/api-keys uses — default scope manage. A new email
        provisions a personal organization first, exactly like every other
        sign-up path. An existing user's key is minted against their personal
        organization (the one they own, oldest first, if they belong to
        several). This does not set a session cookie — it mints a key, it does
        not log a browser in.
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                code:
                  type: string
                  description: The 6-digit code from the email.
                key_name:
                  type: string
                  minLength: 1
                  maxLength: 32
                  description: Defaults to "agent · <YYYY-MM-DD>".
                scopes:
                  type: array
                  items:
                    type: string
                    enum:
                      - manage
                      - read
                      - submit
                  minItems: 1
                  default:
                    - manage
              required:
                - email
                - code
      responses:
        "201":
          description: created
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_key:
                    type: string
                    description: Shown once — store it immediately.
                  key_id:
                    type: string
                  scopes:
                    type: array
                    items:
                      type: string
                      enum:
                        - manage
                        - read
                        - submit
                  organization:
                    type: object
                    properties:
                      id:
                        type: string
                      slug:
                        type: string
                      name:
                        type: string
                    required:
                      - id
                      - slug
                      - name
                  user:
                    type: object
                    properties:
                      email:
                        type: string
                      created:
                        type: boolean
                    required:
                      - email
                      - created
                  next:
                    type: array
                    items:
                      type: string
                required:
                  - api_key
                  - key_id
                  - scopes
                  - organization
                  - user
                  - next
        "401":
          description: Invalid or expired code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /v1/public/sandboxes:
    post:
      operationId: public_sandboxes_create
      tags:
        - discovery
      summary: Create a bounded 24-hour sandbox Form without an account
      description: Requires a canonical UUIDv4 Idempotency-Key. Creates an inert
        sandbox Form that can accept at most five test Submissions and cannot
        create Destinations, Routes, Deliveries, Events or outbound traffic.
      security: []
      parameters:
        - schema:
            type: string
            description: Canonical lowercase UUIDv4 generated with a CSPRNG.
          required: true
          description: Canonical lowercase UUIDv4 generated with a CSPRNG.
          name: idempotency-key
          in: header
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                origin:
                  type: string
                  format: uri
                  description: The site origin allowed to submit, canonicalized before storage.
                claim_email:
                  type: string
                  format: email
                  description: Optional verified-email binding. Include only when the user
                    explicitly supplied it.
              required:
                - name
              additionalProperties: false
      responses:
        "201":
          description: created or idempotently replayed
          content:
            application/json:
              schema:
                type: object
                properties:
                  sandbox:
                    type: object
                    properties:
                      id:
                        type: string
                        example: fm_8f3kq2
                      name:
                        type: string
                      status:
                        type: string
                        enum:
                          - active
                          - claimed
                          - expired
                          - blocked
                      submit_url:
                        type: string
                      expires_at:
                        type: string
                        example: 2026-08-21T09:00:00.000Z
                      accepted_count:
                        type: integer
                      remaining:
                        type: integer
                    required:
                      - id
                      - name
                      - status
                      - submit_url
                      - expires_at
                      - accepted_count
                      - remaining
                  sandbox_token:
                    type: string
                    description: Shown only in this response. Treat it as a secret.
                  authorization:
                    type: object
                    properties:
                      scheme:
                        type: string
                        enum:
                          - Sandbox
                      example:
                        type: string
                    required:
                      - scheme
                      - example
                  embed:
                    type: object
                    properties:
                      html:
                        type: string
                      fetch:
                        type: string
                      react:
                        type: string
                      astro:
                        type: string
                      nextjs_action:
                        type: string
                    required:
                      - html
                      - fetch
                      - react
                      - astro
                      - nextjs_action
                  verify:
                    type: object
                    properties:
                      curl:
                        type: string
                      then:
                        type: string
                    required:
                      - curl
                      - then
                  claim_url:
                    type: string
                  next:
                    type: array
                    items:
                      type: object
                      properties:
                        why:
                          type: string
                        method:
                          type: string
                        path:
                          type: string
                        headers:
                          type: object
                          additionalProperties:
                            type: string
                        body:
                          type: object
                          additionalProperties: {}
                      required:
                        - why
                        - method
                        - path
                required:
                  - sandbox
                  - sandbox_token
                  - authorization
                  - embed
                  - verify
                  - claim_url
                  - next
        "409":
          description: Idempotency conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422":
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "429":
          description: Source allowance exhausted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: Disabled or globally full
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /v1/public/sandboxes/{id}:
    get:
      operationId: public_sandboxes_get
      tags:
        - discovery
      summary: Read a sandbox and its bounded Submissions using the sandbox capability
      security:
        - sandboxAuth: []
      parameters:
        - schema:
            type: string
            example: fm_8f3kq2
          required: true
          name: id
          in: path
        - schema:
            type: string
            description: Sandbox <sandbox_token>
          required: true
          description: Sandbox <sandbox_token>
          name: authorization
          in: header
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: fm_8f3kq2
                  name:
                    type: string
                  status:
                    type: string
                    enum:
                      - active
                      - claimed
                      - expired
                      - blocked
                  submit_url:
                    type: string
                  expires_at:
                    type: string
                    example: 2026-08-21T09:00:00.000Z
                  accepted_count:
                    type: integer
                  remaining:
                    type: integer
                  submissions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: fm_8f3kq2
                        data:
                          type: object
                          additionalProperties: {}
                        meta:
                          type: object
                          additionalProperties: {}
                        received_at:
                          type: string
                          example: 2026-08-21T09:00:00.000Z
                      required:
                        - id
                        - data
                        - meta
                        - received_at
                required:
                  - id
                  - name
                  - status
                  - submit_url
                  - expires_at
                  - accepted_count
                  - remaining
                  - submissions
        "401":
          description: Invalid sandbox capability
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "410":
          description: Expired or consumed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /v1/invitations/{id}:
    get:
      operationId: invitations_get
      tags:
        - discovery
      summary: Look up a pending invitation (public)
      description: Public — no credentials required, so the accept page can render the
        org name and inviter before the visitor signs in. The invited email is
        masked (email_hint).
      security: []
      parameters:
        - schema:
            type: string
          required: true
          name: id
          in: path
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicInvitation"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      operationId: invitations_revoke
      tags:
        - discovery
      summary: Revoke a pending invitation
      parameters:
        - schema:
            type: string
          required: true
          name: id
          in: path
      responses:
        "204":
          description: revoked
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /v1/me:
    get:
      operationId: me_get
      tags:
        - discovery
      summary: Identify the caller and summarise the organization
      description: "The first call an agent holding only an API key should make: who
        it is, which org, which scopes the key has, plan limits and usage, and
        what already exists (counts). Call this before anything else."
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  organization:
                    type: object
                    properties:
                      id:
                        type: string
                      slug:
                        type: string
                      name:
                        type: string
                      plan:
                        type: string
                      plan_source:
                        type: string
                      plan_expires_at:
                        type:
                          - string
                          - "null"
                      plan_note:
                        type:
                          - string
                          - "null"
                      timezone:
                        type: string
                    required:
                      - id
                      - slug
                      - name
                      - plan
                      - plan_source
                      - plan_expires_at
                      - plan_note
                      - timezone
                  key:
                    type: object
                    properties:
                      prefix:
                        type: string
                      scopes:
                        type: array
                        items:
                          type: string
                          enum:
                            - manage
                            - read
                            - submit
                    required:
                      - scopes
                  organizations:
                    type: array
                    items:
                      $ref: "#/components/schemas/OrganizationSummary"
                  counts:
                    type: object
                    properties:
                      projects:
                        type: integer
                      forms:
                        type: integer
                      streams:
                        type: integer
                      destinations:
                        type: integer
                      routes:
                        type: integer
                    required:
                      - projects
                      - forms
                      - streams
                      - destinations
                      - routes
                  limits:
                    type: object
                    properties:
                      forms:
                        type: integer
                      submissions_per_month:
                        type: integer
                      destinations:
                        type: integer
                      retention_days:
                        type: integer
                      used:
                        type: object
                        properties:
                          forms:
                            type: integer
                          submissions_this_month:
                            type: integer
                        required:
                          - forms
                          - submissions_this_month
                    required:
                      - forms
                      - submissions_per_month
                      - destinations
                      - retention_days
                      - used
                  next:
                    type: array
                    items:
                      type: object
                      properties:
                        why:
                          type: string
                        method:
                          type: string
                        path:
                          type: string
                        body:
                          type: object
                          additionalProperties: {}
                required:
                  - organization
                  - key
                  - organizations
                  - counts
                  - limits
                  - next
  /v1/api-keys:
    post:
      operationId: api_keys_create
      tags:
        - discovery
      summary: Create an API key for the active organization (session only, owner/admin)
      description: Requires a signed-in dashboard session, not another API key — an
        agent cannot mint its own first key this way. Owner or admin (job L).
        The full key is only ever returned once, in this response; store it
        immediately.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 32
                  description: A label to tell keys apart, e.g. 'CI deploy key'. Maximum 32
                    characters.
                scopes:
                  type: array
                  items:
                    type: string
                    enum:
                      - manage
                      - read
                      - submit
                  minItems: 1
                  default:
                    - manage
                  description: manage ⊇ read ⊇ submit — a manage key satisfies every read- or
                    submit-scoped call too.
      responses:
        "201":
          description: created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type:
                      - string
                      - "null"
                  prefix:
                    type:
                      - string
                      - "null"
                  scopes:
                    type: array
                    items:
                      type: string
                      enum:
                        - manage
                        - read
                        - submit
                  key:
                    type: string
                  created_at:
                    type: string
                required:
                  - id
                  - name
                  - prefix
                  - scopes
                  - key
                  - created_at
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    get:
      operationId: api_keys_list
      tags:
        - discovery
      summary: List API keys for the active organization
      description: Prefixes only — full key values are never returned again after creation.
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type:
                        - string
                        - "null"
                    prefix:
                      type:
                        - string
                        - "null"
                    scopes:
                      type: array
                      items:
                        type: string
                        enum:
                          - manage
                          - read
                          - submit
                    enabled:
                      type: boolean
                    created_at:
                      type: string
                  required:
                    - id
                    - name
                    - prefix
                    - scopes
                    - enabled
                    - created_at
  /v1/api-keys/{id}:
    delete:
      operationId: api_keys_revoke
      tags:
        - discovery
      summary: Delete an API key
      description: Revokes the key immediately; any client still using it starts
        getting 401s.
      parameters:
        - schema:
            type: string
            description: The API key id (not the key value itself).
          required: true
          description: The API key id (not the key value itself).
          name: id
          in: path
      responses:
        "204":
          description: deleted
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /v1/me/active-organization:
    post:
      operationId: me_set_active_organization
      tags:
        - discovery
      summary: Switch the signed-in session's active organization
      description: Session only — an API key already resolves to exactly one
        organization and cannot switch. The caller must already be a member of
        the target organization (403 forbidden otherwise). Every subsequent /v1
        call on this session scopes to the new organization.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                organization_id:
                  type: string
              required:
                - organization_id
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActiveOrganization"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /v1/organizations/active:
    patch:
      operationId: organizations_update_active
      tags:
        - discovery
      summary: Update the active organization's settings
      description: Owner or admin (a manage-scoped API key counts as admin). Today
        that is the workspace timezone, used by the dashboard as the default
        when creating a digest Route. Each digest Route stores its own timezone,
        so changing this setting does not alter existing Routes.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                timezone:
                  type: string
                  minLength: 1
                  description: IANA timezone, e.g. Europe/Stockholm. The dashboard uses it as the
                    default for new digest Routes.
              required:
                - timezone
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  timezone:
                    type: string
                required:
                  - timezone
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /v1/organizations:
    post:
      operationId: organizations_create
      tags:
        - discovery
      summary: Create a new organization and switch to it (session only)
      description: Session only. Creates the organization (the caller becomes its
        owner), the same default settings + 'Default' project every signup gets,
        then makes it this session's active organization.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                slug:
                  type: string
                  minLength: 1
              required:
                - name
      responses:
        "201":
          description: created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationSummary"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /v1/members:
    get:
      operationId: members_list
      tags:
        - discovery
      summary: List the organization's members
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Member"
  /v1/members/{memberId}:
    patch:
      operationId: members_update_role
      tags:
        - discovery
      summary: Change a member's role (owner only)
      description: Owner only — an admin cannot promote or demote anyone, including
        themselves. Cannot demote the organization's last owner (409
        last_owner); promote someone else first.
      parameters:
        - schema:
            type: string
            description: The Membership id (not the user id).
          required: true
          description: The Membership id (not the user id).
          name: memberId
          in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  enum:
                    - owner
                    - admin
                    - member
              required:
                - role
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Member"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    delete:
      operationId: members_remove
      tags:
        - discovery
      summary: Remove a member, or leave the organization
      description: Owner or admin may remove any other member. A signed-in member may
        always remove themselves (leave) regardless of role. Either way, the
        organization's last owner cannot be removed (409 last_owner).
      parameters:
        - schema:
            type: string
            description: The Membership id (not the user id).
          required: true
          description: The Membership id (not the user id).
          name: memberId
          in: path
      responses:
        "204":
          description: removed
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /v1/invitations:
    get:
      operationId: invitations_list
      tags:
        - discovery
      summary: List pending invitations
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Invitation"
    post:
      operationId: invitations_create
      tags:
        - discovery
      summary: Invite someone to the organization
      description: Owner or admin. Sends an email via Resend when the server has
        RESEND_API_KEY configured; otherwise the invitation is still created and
        its accept link can be shared manually. Re-inviting an address with a
        pending invitation resends it (extends the 7-day expiry) instead of
        creating a duplicate.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                role:
                  type: string
                  enum:
                    - admin
                    - member
                  description: Invite as admin or member. Promote to owner from Members after they
                    join.
              required:
                - email
                - role
      responses:
        "201":
          description: created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invitation"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "502":
          description: The invitation was created, but the email could not be sent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /v1/invitations/{id}/accept:
    post:
      operationId: invitations_accept
      tags:
        - discovery
      summary: Accept an invitation (session only)
      description: Session only. The signed-in user's email must match the
        invitation's invited email exactly (403 invitation_email_mismatch
        otherwise). On success the organization becomes this session's active
        organization.
      parameters:
        - schema:
            type: string
          required: true
          name: id
          in: path
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptInvitationResult"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /v1/plan/redeem:
    post:
      operationId: plan_redeem
      tags:
        - plan
      summary: Redeem a complimentary-access grant code for the active organization
      description: "Requires the manage scope (a session is always manage-scoped). A
        code minted by POST /v1/admin/plan-grants sets plan,
        plan_source='complimentary', plan_note and — if the grant has a
        plan_duration_days — plan_expires_at. A paying org
        (plan_source='billing') cannot redeem (409 plan_is_billing: cancel the
        subscription first); redeeming a lower tier than the org's current plan
        is refused (409 plan_not_upgrade)."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  minLength: 1
                  description: A code minted by POST /v1/admin/plan-grants.
              required:
                - code
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlanRedeemResult"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "410":
          description: The code is expired, revoked, or fully redeemed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /v1/admin/plan-grants:
    post:
      operationId: admin_plan_grants_create
      tags:
        - admin
      summary: Mint a complimentary-access grant code (platform admin only)
      description: "Platform-admin only: allowed when the caller's email (the session
        user's email, or — for an API key — the owner member's email of the
        key's organization) is in the server's PLATFORM_ADMIN_EMAILS env var
        (comma-separated, empty by default). Any other caller gets 404
        not_found, not 403, so a self-hosted operator who never sets
        PLATFORM_ADMIN_EMAILS never sees this endpoint exist. Touches no tenant
        — the code is redeemed by an org's own owner with POST /v1/plan/redeem,
        which is where plan_source actually changes."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                plan:
                  type: string
                  enum:
                    - free
                    - pro
                    - team
                    - selfhost
                  description: The tier this code grants on redemption.
                note:
                  type: string
                  maxLength: 280
                  description: Shown to the redeeming org, e.g. "Courtesy of Postbag".
                expires_at:
                  type: string
                  format: date-time
                  description: When the code itself stops being redeemable. Omit for a code that
                    never expires on its own.
                max_redemptions:
                  type: integer
                  minimum: 1
                  default: 1
                  description: How many different organizations may redeem this code.
                plan_duration_days:
                  type: integer
                  minimum: 1
                  description: How many days after redemption the granted plan lasts. Omit for a
                    grant with no automatic expiry.
              required:
                - plan
      responses:
        "201":
          description: created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlanGrantCreated"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    get:
      operationId: admin_plan_grants_list
      tags:
        - admin
      summary: List plan grants (platform admin only; hashed codes never returned)
      description: "Platform-admin only: allowed when the caller's email (the session
        user's email, or — for an API key — the owner member's email of the
        key's organization) is in the server's PLATFORM_ADMIN_EMAILS env var
        (comma-separated, empty by default). Any other caller gets 404
        not_found, not 403, so a self-hosted operator who never sets
        PLATFORM_ADMIN_EMAILS never sees this endpoint exist."
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PlanGrant"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /v1/admin/plan-grants/{id}/revoke:
    post:
      operationId: admin_plan_grants_revoke
      tags:
        - admin
      summary: Revoke a plan grant so it can no longer be redeemed (platform admin only)
      description: "Platform-admin only: allowed when the caller's email (the session
        user's email, or — for an API key — the owner member's email of the
        key's organization) is in the server's PLATFORM_ADMIN_EMAILS env var
        (comma-separated, empty by default). Any other caller gets 404
        not_found, not 403, so a self-hosted operator who never sets
        PLATFORM_ADMIN_EMAILS never sees this endpoint exist. Idempotent —
        revoking an already-revoked grant just returns it."
      parameters:
        - schema:
            type: string
            example: fm_8f3kq2
          required: true
          name: id
          in: path
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlanGrant"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /v1/billing:
    get:
      operationId: billing_get
      tags:
        - billing
      summary: Get billing status and purchasable plans
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                  plan:
                    type: string
                  plan_source:
                    type: string
                  subscription:
                    type:
                      - object
                      - "null"
                    properties:
                      id:
                        type: string
                      status:
                        type: string
                      current_period_end:
                        type:
                          - string
                          - "null"
                      cancel_at_period_end:
                        type: boolean
                    required:
                      - id
                      - status
                      - current_period_end
                      - cancel_at_period_end
                  products:
                    type: object
                    properties:
                      pro:
                        type: object
                        properties:
                          month:
                            type: boolean
                          year:
                            type: boolean
                        required:
                          - month
                          - year
                      team:
                        type: object
                        properties:
                          month:
                            type: boolean
                          year:
                            type: boolean
                        required:
                          - month
                          - year
                    required:
                      - pro
                      - team
                required:
                  - enabled
                  - plan
                  - plan_source
                  - subscription
                  - products
  /v1/billing/checkout:
    post:
      operationId: billing_checkout
      tags:
        - billing
      summary: Start a Polar checkout
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                plan:
                  type: string
                  enum:
                    - pro
                    - team
                interval:
                  type: string
                  enum:
                    - month
                    - year
              required:
                - plan
                - interval
      responses:
        "201":
          description: checkout created
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                required:
                  - url
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /v1/billing/portal:
    post:
      operationId: billing_portal
      tags:
        - billing
      summary: Open the Polar customer portal
      responses:
        "201":
          description: portal session created
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                required:
                  - url
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /v1/quickstart:
    post:
      operationId: quickstart
      tags:
        - discovery
      summary: One call to a working, routed form
      description: Creates (idempotently, by name within project) the project if
        missing, the form, a destination for whichever of
        notify_email/telegram/webhook was given, and a direct route, then
        returns the form, an embeddable snippet, a browser-equivalent curl
        command to verify delivery, and next steps. Allowed origins are compared
        canonically, so paths, trailing slashes, host casing, and default ports
        do not cause mismatches. Everything it does is also available as
        individual calls (POST /v1/forms, /v1/destinations, /v1/routes); this is
        a convenience, not a special path.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                project:
                  type: string
                  default: default
                origin:
                  type: string
                  format: uri
                notify_email:
                  type: string
                  format: email
                telegram:
                  type: object
                  properties:
                    bot_token:
                      type: string
                    chat_id:
                      type: string
                  required:
                    - bot_token
                    - chat_id
                webhook:
                  type: object
                  properties:
                    url:
                      type: string
                      format: uri
                    secret:
                      type: string
                  required:
                    - url
                tags:
                  type: array
                  items:
                    type: string
                  default: []
                redirect_url:
                  type: string
                  format: uri
              required:
                - name
      responses:
        "201":
          description: created (or returned)
          content:
            application/json:
              schema:
                type: object
                properties:
                  form:
                    $ref: "#/components/schemas/Form"
                  destinations:
                    type: array
                    items:
                      $ref: "#/components/schemas/Destination"
                  routes:
                    type: array
                    items:
                      $ref: "#/components/schemas/Route"
                  embed:
                    $ref: "#/components/schemas/Embed"
                  verify:
                    $ref: "#/components/schemas/Verify"
                  next:
                    type: array
                    items:
                      type: object
                      properties:
                        why:
                          type: string
                        method:
                          type: string
                        path:
                          type: string
                        body:
                          type: object
                          additionalProperties: {}
                required:
                  - form
                  - destinations
                  - routes
                  - embed
                  - verify
                  - next
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /v1/sandboxes/{id}/claim:
    post:
      operationId: sandboxes_claim
      tags:
        - forms
      summary: Claim a sandbox Form into the active organization
      description: Requires both an authenticated manage-scoped actor and the sandbox
        capability in Postbag-Sandbox-Token. The Form id and submit URL remain
        unchanged.
      parameters:
        - schema:
            type: string
            example: fm_8f3kq2
          required: true
          name: id
          in: path
        - schema:
            type: string
            description: The sandbox token returned at creation.
          required: true
          description: The sandbox token returned at creation.
          name: postbag-sandbox-token
          in: header
      responses:
        "200":
          description: claimed or idempotently returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  claimed:
                    type: boolean
                    enum:
                      - true
                  idempotent:
                    type: boolean
                  form:
                    type: object
                    properties:
                      id:
                        type: string
                        example: fm_8f3kq2
                      project_id:
                        type: string
                        example: fm_8f3kq2
                      slug:
                        type: string
                      name:
                        type: string
                      submit_url:
                        type: string
                    required:
                      - id
                      - project_id
                      - slug
                      - name
                      - submit_url
                  copied_test_submissions:
                    type: integer
                  next:
                    type: array
                    items:
                      type: object
                      properties:
                        why:
                          type: string
                        method:
                          type: string
                        path:
                          type: string
                        body:
                          type: object
                          additionalProperties: {}
                      required:
                        - why
                        - method
                        - path
                required:
                  - claimed
                  - idempotent
                  - form
                  - copied_test_submissions
                  - next
        "401":
          description: Invalid sandbox capability
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "402":
          description: Target organization Form limit reached
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Claim email mismatch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "410":
          description: Expired or consumed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /v1/projects:
    get:
      operationId: projects_list
      tags:
        - projects
      summary: List projects
      parameters:
        - schema:
            type: string
          required: false
          name: cursor
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 200
          required: false
          name: limit
          in: query
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Project"
                  next_cursor:
                    type:
                      - string
                      - "null"
                required:
                  - data
                  - next_cursor
    post:
      operationId: projects_create
      tags:
        - projects
      summary: Create a project
      description: 'A project groups forms — one per site or app. Pass `if_exists:
        "return"` to make this call safe to re-run.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                slug:
                  type: string
                  pattern: ^[a-z0-9][a-z0-9-]{1,62}$/u
                tags:
                  type: array
                  items:
                    type: string
                  default: []
                if_exists:
                  type: string
                  enum:
                    - error
                    - return
                  default: error
      responses:
        "201":
          description: created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /v1/projects/{projectId}:
    get:
      operationId: projects_get
      tags:
        - projects
      summary: Get a project
      parameters:
        - schema:
            type: string
            example: fm_8f3kq2
          required: true
          name: projectId
          in: path
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "422":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    patch:
      operationId: projects_update
      tags:
        - projects
      summary: Update a project
      parameters:
        - schema:
            type: string
            example: fm_8f3kq2
          required: true
          name: projectId
          in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                slug:
                  type: string
                  pattern: ^[a-z0-9][a-z0-9-]{1,62}$/u
                tags:
                  type: array
                  items:
                    type: string
                  default: []
                if_exists:
                  type: string
                  enum:
                    - error
                    - return
                  default: error
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
[...]
